//
//  Development.xcconfig
//  CountryCodeExample
//
//  Created by Anton Kononenko on 10/30/24.
//

// $() need to simple workaround since xconfig divide // and not allow to use yrl
API_BASE_URL=https:/$()/api.themoviedb.org
ACCESS_TOKEN_AUTH=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0MmM3MDY5NWU2ODUyYzFhYzNjYjNiZDM1YzI3MDg2YiIsIm5iZiI6MTczMDY2MjMwNC4wNzI1NjQxLCJzdWIiOiI2NzE5YWFkNDM0YzBmYWJkNjgxYzUyZWYiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.9sT5MXTPHYzIBVwFYxSE2PmUH1-hK3_0MWSPSCbEdxA
